<h1 class="search-form-trade__title">
  {{t 'search_form.trade.title'}}
</h1>

<div class="search-form-trade__row">
  {{pos-field/switch
    label=(t 'search_form.trade.status')
    value=tradeFilter.status
    toggleableValue='online'
    toggleableValueLabel=(t 'search_form.trade.status_online')}}

  <div class="search-form-trade__column search-from-trade__column--space-left">
    {{pos-field/text
      label=(t 'search_form.trade.account')
      value=tradeFilter.account}}
  </div>
</div>

<div class="search-form-trade__price">
  {{#pos-select
    class='search-form-trade__price-currency'
    label=(t 'search_form.trade.price')
    options=currencies
    value=tradeFilter.price.currency
    onSelect=(action currencySelect)
    searchableKey='name'
    valueKey='id'
    as |option highlightedName|}}
    <img class="search-form-trade__price-currency__icon" src="{{option.image}}" alt="{{option.id}}">
    <div class="search-form-trade__price-currency__label">
      {{highlightedName}}
    </div>
  {{/pos-select}}

  <div class="search-form-trade__price-min-max">
    {{input
      value=tradeFilter.price.min
      placeholder=(t 'search_form.trade.min')
      class='search-form-trade__price-min'}}

    {{input
      value=tradeFilter.price.max
      placeholder=(t 'search_form.trade.max')
      class='search-form-trade__price-max'}}
  </div>
</div>
