<h1>{{t 'search_form.trade.title'}}</h1>

<label>{{t 'search_form.trade.account'}}</label>
{{input value=tradeFilters.account}}

<label>{{t 'search_form.trade.sale_type'}}</label>
{{input value=tradeFilters.saleType}}

<label>{{t 'search_form.trade.price'}}</label>
{{input value=tradeFilters.price.currency}}
{{input value=tradeFilters.price.min}}
{{input value=tradeFilters.price.max}}
