<h1>{{t 'search_form.armour.title'}}</h1>

{{pos-field/min-max
  values=armourFilters.armour
  label=(t 'search_form.armour.armour')}}

{{pos-field/min-max
  values=armourFilters.energy
  label=(t 'search_form.armour.energy_shield')}}

{{pos-field/min-max
  values=armourFilters.evasion
  label=(t 'search_form.armour.evasion_rating')}}

{{pos-field/min-max
  values=armourFilters.block
  label=(t 'search_form.armour.block')}}
