<h1 class="search-form-armour__title">
  {{t 'search_form.armour.title'}}
</h1>

<div class="search-form-armour__row">
  <div class="search-form-armour__column">
    {{pos-field/min-max
      values=armourFilter.armour
      label=(t 'search_form.armour.armour')}}
  </div>
  <div class="search-form-armour__column">
    {{pos-field/min-max
      values=armourFilter.energy
      label=(t 'search_form.armour.energy_shield')}}
  </div>
</div>
<div class="search-form-armour__row">
  <div class="search-form-armour__column">
    {{pos-field/min-max
      values=armourFilter.evasion
      label=(t 'search_form.armour.evasion_rating')}}
  </div>
  <div class="search-form-armour__column">
    {{pos-field/min-max
      values=armourFilter.block
      label=(t 'search_form.armour.block')}}
  </div>
</div>
