<form class="search-form__form" {{action triggerSearch on='submit'}}>
  {{pos-search-form/league
    class='search-form__form-section'
    leagueFilter=filters.league}}

  {{pos-search-form/main
    class='search-form__form-section'
    nameFilter=filters.name
    typeFilter=filters.type}}

  {{pos-search-form/weapon
    class='search-form__form-section'
    weaponFilter=filters.weapon}}

  {{pos-search-form/armour
    class='search-form__form-section'
    armourFilter=filters.armour}}

  {{pos-search-form/socket
    class='search-form__form-section'
    socketFilter=filters.socket}}

  {{pos-search-form/requirement
    class='search-form__form-section'
    requirementFilter=filters.requirement}}

  {{pos-search-form/map
    class='search-form__form-section'
    mapFilter=filters.map}}

  {{pos-search-form/miscellaneous
    class='search-form__form-section'
    miscellaneousFilter=filters.miscellaneous}}

  {{pos-search-form/trade
    class='search-form__form-section'
    tradeFilter=filters.trade}}

  {{#pos-button type='submit' isLoading=isLoading class='search-form__form-submit'}}
    {{t 'search_form.search_button'}}
  {{/pos-button}}
</form>
