<h1 class="search-form-map__title">
  {{t 'search_form.map.title'}}
</h1>

<div class="search-form-map__row">
  <div class="search-form-map__column">
    {{pos-field/min-max
      values=mapFilter.tier
      label=(t 'search_form.map.tier')}}
  </div>
  <div class="search-form-map__column">
    {{pos-field/min-max
      values=mapFilter.packSize
      label=(t 'search_form.map.pack_size')}}
  </div>
</div>
<div class="search-form-map__row">
  <div class="search-form-map__column">
    {{pos-field/min-max
      values=mapFilter.iiq
      label=(t 'search_form.map.item_quantity')}}
  </div>
  <div class="search-form-map__column">
    {{pos-field/min-max
      values=mapFilter.iir
      label=(t 'search_form.map.item_rarity')}}
  </div>
</div>
<div class="search-form-map__row">
  <div class="search-form-map__column">
    {{pos-field/yes-no
      value=mapFilter.shaped
      label=(t 'search_form.map.shaped')}}
  </div>
  <div class="search-form-map__column">
    {{#pos-select
      label=(t 'search_form.map.series')
      options=mapSeries
      value=mapFilter.series
      onSelect=(action mapSeriesSelect)
      searchableKey='name'
      valueKey='id'
    as |option highlightedName|}}
      {{highlightedName}}
    {{/pos-select}}
  </div>
</div>
