<h1>{{t 'search_form.miscellaneous.title'}}</h1>

{{pos-field/min-max
  values=miscellaneousFilters.quality
  label=(t 'search_form.miscellaneous.quality')}}

{{pos-field/min-max
  values=miscellaneousFilters.gemLevel
  label=(t 'search_form.miscellaneous.gem_level')}}

{{pos-field/min-max
  values=miscellaneousFilters.itemLevel
  label=(t 'search_form.miscellaneous.item_level')}}

{{pos-field/min-max
  values=miscellaneousFilters.talismanTier
  label=(t 'search_form.miscellaneous.talisman_tier')}}

{{pos-field/yes-no
  value=miscellaneousFilters.shaperItem
  label=(t 'search_form.miscellaneous.shaper_item')}}

{{pos-field/yes-no
  value=miscellaneousFilters.elderItem
  label=(t 'search_form.miscellaneous.elder_item')}}

{{pos-field/yes-no
  value=miscellaneousFilters.alternateArt
  label=(t 'search_form.miscellaneous.alternate_art')}}

{{pos-field/yes-no
  value=miscellaneousFilters.corrupted
  label=(t 'search_form.miscellaneous.corrupted')}}

{{pos-field/yes-no
  value=miscellaneousFilters.enchanted
  label=(t 'search_form.miscellaneous.enchanted')}}

{{pos-field/yes-no
  value=miscellaneousFilters.identified
  label=(t 'search_form.miscellaneous.identified')}}

{{pos-field/yes-no
  value=miscellaneousFilters.crafted
  label=(t 'search_form.miscellaneous.crafted')}}
