<h1 class="search-form-miscellaneous__title">
  {{t 'search_form.miscellaneous.title'}}
</h1>

<div class="search-form-miscellaneous__columns-wrapper">
  {{pos-field/min-max
    class='search-form-miscellaneous__column'
    values=miscellaneousFilter.gemLevel
    label=(t 'search_form.miscellaneous.gem_level')}}

  {{pos-field/min-max
    class='search-form-miscellaneous__column'
    values=miscellaneousFilter.itemLevel
    label=(t 'search_form.miscellaneous.item_level')}}

  {{pos-field/min-max
    class='search-form-miscellaneous__column'
    values=miscellaneousFilter.talismanTier
    label=(t 'search_form.miscellaneous.talisman_tier')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.shaperItem
    label=(t 'search_form.miscellaneous.shaper_item')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.elderItem
    label=(t 'search_form.miscellaneous.elder_item')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.alternateArt
    label=(t 'search_form.miscellaneous.alternate_art')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.corrupted
    label=(t 'search_form.miscellaneous.corrupted')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.enchanted
    label=(t 'search_form.miscellaneous.enchanted')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.identified
    label=(t 'search_form.miscellaneous.identified')}}

  {{pos-field/yes-no
    class='search-form-miscellaneous__column'
    value=miscellaneousFilter.crafted
    label=(t 'search_form.miscellaneous.crafted')}}

</div>
