<h1>{{t 'search_form.requirement.title'}}</h1>

{{pos-field/min-max
  values=requirementFilters.level
  label=(t 'search_form.requirement.level')}}

{{pos-field/min-max
  values=requirementFilters.dexterity
  label=(t 'search_form.requirement.dexterity')}}

{{pos-field/min-max
  values=requirementFilters.strength
  label=(t 'search_form.requirement.strength')}}

{{pos-field/min-max
  values=requirementFilters.intelligence
  label=(t 'search_form.requirement.intelligence')}}
