<div class="search-results-item-details__image-wrapper">
  <img src="{{item.data.image}}" alt="{{item.data.name}}">

  {{pos-sockets
    class='search-results-item-details__sockets'
    sockets=item.data.sockets}}
</div>

<div class="search-results-item-details__card">
  <div class="search-results-item-details__card-header search-results-item-details__card-header--{{item.data.rarity}} {{if item.data.isShaper 'search-results-item-details__card-header--shaper'}} {{if item.data.isElder 'search-results-item-details__card-header--elder'}}">
    {{#if item.data.name}}
      <h1 class="search-results-item-details__card-header-title">
        {{item.data.name}}
      </h1>
    {{/if}}

    <h2 class="search-results-item-details__card-header-subtitle">
      {{item.data.base}}
    </h2>
  </div>

  <ul class="search-results-item-details__card-mods">
    {{#if item.data.implicitMods}}
      <li class="search-results-item-details__card-mod-separator">
        {{t 'search_results.implicit'}}
      </li>
    {{/if}}
    {{#each item.data.implicitMods as |mod|}}
      <li class="search-results-item-details__card-mod" style={{mod-style mod.value}}>
        {{mod.value}}
      </li>
    {{/each}}

    {{#if item.data.explicitMods}}
      <li class="search-results-item-details__card-mod-separator">
        {{t 'search_results.explicit'}}
      </li>
    {{/if}}
    {{#each item.data.explicitMods as |mod|}}
      <li class="search-results-item-details__card-mod" style={{mod-style mod.value}}>
        {{mod.value}}
      </li>
    {{/each}}

    {{#if item.data.craftedMods}}
      <li class="search-results-item-details__card-mod-separator">
        {{t 'search_results.crafted'}}
      </li>
    {{/if}}
    {{#each item.data.craftedMods as |mod|}}
      <li class="search-results-item-details__card-mod" style={{mod-style mod.value}}>
        {{mod.value}}
      </li>
    {{/each}}

    {{#if item.data.pseudoMods}}
      <li class="search-results-item-details__card-mod-separator">
        {{t 'search_results.pseudo'}}
      </li>
    {{/if}}
    {{#each item.data.pseudoMods as |mod|}}
      <li class="search-results-item-details__card-mod search-results-item-details__card-mod--pseudo" style={{mod-style mod.value}}>
        {{mod.value}}
      </li>
    {{/each}}
  </ul>

  <ul class="search-results-item-details__card-properties">
    {{#if item.data.isCorrupted}}
      <li class="search-results-item-details__card-property-corrupted">
        {{t 'search_results.corrupted'}}
      </li>
    {{/if}}

    {{#unless item.data.isIdentified}}
      <li class="search-results-item-details__card-property-unidentified">
        {{t 'search_results.unidentified'}}
      </li>
    {{/unless}}

    {{#each item.data.properties as |property|}}
      <li class="search-results-item-details__card-property">
        {{property.name}}
        {{#if property.value}}
          <span class="search-results-item-details__card-property-value">
            {{property.value}}
          </span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <ul class="search-results-item-details__card-requirements">
    {{#each item.data.requirements as |requirement|}}
      <li class="search-results-item-details__card-requirement">
        {{requirement.name}}
        {{#if requirement.value}}
          <span class="search-results-item-details__card-requirement-value">
            {{requirement.value}}
          </span>
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <div class="search-results-item-details__card-trade">
    {{#if hasPrice}}
      <div class="search-results-item-details__card-trade-price">
        {{item.trade.priceAmount}}
        <img src={{priceCurrencyImage}} class="search-results-item-details__card-trade-currency" alt={{item.trade.priceCurrency}}>
      </div>
    {{/if}}

    <div class="search-results-item-details__card-trade-owner">
      <div class="search-results-item-details__card-trade-owner-char">
        {{item.trade.characterName}}
      </div>
      <div class="search-results-item-details__card-trade-owner-account">
        {{item.trade.accountName}}
      </div>
    </div>

    <input type="text" value={{item.trade.whisper}} class="search-results-item-details__card-trade-whisper-input">

    {{#pos-button onClick=(action copyWhisperToClipboard) class='search-results-item-details__card-trade-whisper'}}
      {{#unless isCopied}}
        {{pos-icon icon='copy'}}
        {{t 'search_results.copy'}}
      {{else}}
        {{pos-icon icon='paste'}}
        {{t 'search_results.copied'}}
      {{/unless}}
    {{/pos-button}}
  </div>
</div>