<h1>{{t 'search_form.socket.title'}}</h1>

<label>{{t 'search_form.socket.sockets'}}</label>

{{input value=socketFilters.sockets.red placeholder=(t 'search_form.socket.red_abbrev')}}
{{input value=socketFilters.sockets.green placeholder=(t 'search_form.socket.green_abbrev')}}
{{input value=socketFilters.sockets.blue placeholder=(t 'search_form.socket.blue_abbrev')}}
{{input value=socketFilters.sockets.white placeholder=(t 'search_form.socket.white_abbrev')}}
{{input value=socketFilters.sockets.min placeholder=(t 'search_form.socket.min')}}
{{input value=socketFilters.sockets.max placeholder=(t 'search_form.socket.max')}}

<label>{{t 'search_form.socket.links'}}</label>

{{input value=socketFilters.links.red placeholder=(t 'search_form.socket.red_abbrev')}}
{{input value=socketFilters.links.green placeholder=(t 'search_form.socket.green_abbrev')}}
{{input value=socketFilters.links.blue placeholder=(t 'search_form.socket.blue_abbrev')}}
{{input value=socketFilters.links.white placeholder=(t 'search_form.socket.white_abbrev')}}
{{input value=socketFilters.links.min placeholder=(t 'search_form.socket.min')}}
{{input value=socketFilters.links.max placeholder=(t 'search_form.socket.max')}}
