<h1 class="search-form-weapon__title">
  {{t 'search_form.weapon.title'}}
</h1>

<div class="search-form-weapon__row">
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.damage
      label=(t 'search_form.weapon.damage')}}
  </div>
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.aps
      label=(t 'search_form.weapon.aps')}}
  </div>
</div>

<div class="search-form-weapon__row">
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.critical
      label=(t 'search_form.weapon.critical_chance')}}
  </div>
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.dps
      label=(t 'search_form.weapon.dps')}}
  </div>
</div>

<div class="search-form-weapon__row">
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.pdps
      label=(t 'search_form.weapon.pdps')}}
  </div>
  <div class="search-form-weapon__column">
    {{pos-field/min-max
      values=weaponFilter.edps
      label=(t 'search_form.weapon.edps')}}
  </div>
</div>