<h1>{{t 'search_form.weapon.title'}}</h1>

{{pos-field/min-max
  values=weaponFilters.damage
  label=(t 'search_form.weapon.damage')}}

{{pos-field/min-max
  values=weaponFilters.aps
  label=(t 'search_form.weapon.aps')}}

{{pos-field/min-max
  values=weaponFilters.critical
  label=(t 'search_form.weapon.critical_chance')}}

{{pos-field/min-max
  values=weaponFilters.dps
  label=(t 'search_form.weapon.dps')}}

{{pos-field/min-max
  values=weaponFilters.pdps
  label=(t 'search_form.weapon.pdps')}}

{{pos-field/min-max
  values=weaponFilters.edps
  label=(t 'search_form.weapon.edps')}}