<label class="field-yes-no__label">{{label}}</label>
<button {{action selectAny}} class="field-yes-no__button field-yes-no__button--any {{if isAnySelected 'field-yes-no__button--selected'}}" type="button">
  {{t 'field.yes_no.any'}}
</button>
<button {{action selectYes}} class="field-yes-no__button field-yes-no__button--yes {{if isYesSelected 'field-yes-no__button--selected'}}" type="button">
  {{t 'field.yes_no.yes'}}
</button>
<button {{action selectNo}} class="field-yes-no__button field-yes-no__button--no {{if isNoSelected 'field-yes-no__button--selected'}}" type="button">
  {{t 'field.yes_no.no'}}
</button>
