<div class="search-form-mod-item__select">
  {{#pos-power-select
    allowClear=false
    selected=selectedMod
    search=(perform searchModsTask)
    onchange=(action modSelect)
  as |mod|}}
    <div class="search-form-mod-item__select-item-type search-form-mod-item__select-item-type--{{mod.type}}">
      {{mod.type}}
    </div>
    <div>{{mod.name}}</div>
  {{/pos-power-select}}
</div>

{{#if isWeightRequired}}
  {{input
    value=item.weight
    placeholder=(t 'search_form.mod.weight')
    class='search-form-mod-item__weight'}}
{{/if}}

{{input
  value=item.min
  placeholder=(t 'search_form.mod.min')
  class='search-form-mod-item__min'}}

{{input
  value=item.max
  placeholder=(t 'search_form.mod.max')
  class='search-form-mod-item__max'}}

{{pos-icon
  class='search-form-mod-item__remove'
  icon='minus-circle'
  onClick=(action remove)}}
